
.login_box{
    display: grid;
    place-items:center;
    background-color:white;
    padding: 20px;
    min-height:250px;
    width:20vw;
    box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.2);
    border-radius:10px;
}

.form-group{
    width: 100%;
    display:flex;
    justify-content: space-between;
}